@font-face {
    font-family: 'Robo_Girls';
    src: url('/fonts/Robo_girls/RoboGirls-4BzEB.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space_age';
    src: url('/fonts/space_age/space_age.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Dosis';
    src: url('/fonts/Dosis/Dosisv1.7/Dosis-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}


body {

    cursor: none;
    max-height: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #1F2833;
    font-family: 'Dosis', sans-serif;
}


* {
    box-sizing: border-box;
    
}


.nav-bar{
    border-radius:9999px;
    border: 1px solid rgba(102, 252, 241, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: calc(100% - 8rem);
    padding: 0 2rem;
    box-sizing: border-box;
    position: fixed;
    margin: 0.5rem auto;
    z-index: 100000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0,.2)    
}

.logo {
    color: #66FCF1;
    margin: 0;
    box-sizing: border-box;
}

.nav-list {
    padding: 0;
    border: none;
    color: #66FCF1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
}


.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --dot-color: rgba(102, 252, 241, 0.5);  /* Adjusted for visibility */
    --dot-size: 1.3px;
    --dot-space: 22px;
    background-image: 
        radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size)),
        radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size)),
        radial-gradient(circle, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 35%, rgba(63,120,119,1) 81%);
    background-size: var(--dot-space) var(--dot-space), var(--dot-space) var(--dot-space), 100% 100%;
    background-position: 0 0, calc(var(--dot-space) / 2) calc(var(--dot-space) / 2), 0 0;
    top: 0;
    overflow-x: hidden;
}

.hero-title {
    color: #66FCF1;
    font-size: 5rem;
    margin: 0;
    font-family: 'space_age';
    font-size: 8rem;
    overflow: hidden;
    width: fit-content;
    height: fit-content;   
}


.intro {

    color: #45A29E;
    font-size: 5rem;
    margin: 0;
    overflow: hidden;
    letter-spacing: 0.5rem;
}

.profess {

    color: #45A29E;
    font-size: 2rem;
    margin: 3%;
    overflow: hidden;
    letter-spacing: 0.3rem;

}


.hero-title span {
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
    will-change: transform, color;
    font-weight: 700;
    position: relative;
    width: 8rem;
    line-height: 1em;
}



.intro span {
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
    will-change: transform, color;
    position: relative;
    width: 5;
    letter-spacing: 1.5rem;

}


.nav-list span {
    color: #66FCF1;
    list-style: none;
    gap: 2rem;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 35%, rgba(69,162,158,1) 100%);
}

.contact {
    list-style: none;
    color: #66FCF1;
    display: flex;
    padding: 0;
    gap: 2rem;
}

input {
    padding: 0 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    width: 10rem;
    height: 2rem;
}

.input-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.text-area textarea{
    width: 34rem;
    margin: auto;
    border-radius: 25px;
    height: 5rem;
    padding: 10px 15px;
}

button {
    border-radius: 25px;
    height: 2.5rem;
    width: 5.5rem;
    border: 1px solid rgba(102, 252, 241, 0.3);
    background-color: rgba(0, 0, 0,0) ;
    backdrop-filter: blur(10px);
    color: #66FCF1;
    font-weight: 700;

}


.footerTitle {
    color: #66FCF1;
}

/* Adding styles for a custom cursor */
.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 9999999;
    background-color: rgba(0, 0, 0,0);
    border: 1px solid white;

}

.nav-bar li:hover .cursor {
    color: #45A29E;
}


.submitbutton button:hover ~ .cursor {
    color: #45A29E;
    background-color: #66FCF1;
}

.submitbutton {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
